<!DOCTYPE HTML>
<html>

<head>
<meta charset="UTF-8">
<title>Tilte of</title>
<style>
    body {
        background-color: black;
    }
    h1 {
        color: white;
        font-size: 40px;
        text-align: center;
    }
    h2{
        color: white;
        font-size: 35;
        text-align: center;
    }
    p{
        color: white;
        font-family: Verdana;
        font-size: 15px;
        text-align: center;
    }
    form{
        color: white;
        text-align: center;
    }
</style>
</head>

<body>
    <h1>POSTS :</h1>
    <form action='/admin' method="POST">
        
        Title of article: <br><br>
        <input type="text" name="title" value="">
        <br><br>
        Text: <br><br>
        <input type="text" name="content" value="">
        <br><br>
        <input type="submit" value="POST">
    </form>
{% for item in posts %}
    <h2>{{ item.title }}</h2>
    <p>{{ item.content }}</p>
    <p>Дата создания: {{ item.date_created }}</p>
    <p> Комментарии:</p>
    {% for comment in comments %}
        {% if comment.article_id == item.id %}
        <p>{{ comment }}</p>
        {% endif %}        
    {% endfor %}
    
    <form action='/' method="POST">
        
        <input type="hidden" name="article_id" value="{{item.id}}">
        
        Your mind: <br><br>
        <input type="text" name="content" value="">
        <br><br>
        <input type="submit" value="Comment">
    </form>
{% endfor %}

</body>

</html>